{
  "presets": [
    ["@babel/env", {
      "modules": false
    }],
    "@babel/react",
    "mobx"
  ],
    "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-transform-parameters"
    ],
      "retainLines": true
}